// Colors
$black: #363744;
$white: #fff;
$gray: #cccccc;
$blue: #0444c4;
$light-blue: #39bfdd;

// Gutters
$gutter: 30px;
$gutterM: 20px;
$gutterS: 10px;

// Sizes
$mobile: 480px;
$table: 720px;
$desktop: 1160px;
$desktopL: 1220px;
$desktopXL: 1440px;
