@import 'variables';

.view,
.view-content {
    display: grid;
    gap: 0;
    grid-template-rows: max-content;
}

@media (min-width: 43.75rem) {
    .view,
    .view-content {
      gap: 0;
    }
}

.views-row {
    position: relative;
    margin-bottom: $gutter;
}